.logo{display:inline-block;position:relative;overflow:hidden;width:145px;height:102px;background:transparent;flex-shrink:0;vertical-align:middle;border-radius:6px}.logo img{mix-blend-mode:multiply;position:absolute;width:234%;max-width:none;height:auto;left:-67%;top:-27.65%}

@media(max-width:600px){.logo{width:112px;height:79px}}
